*{
    font-family: Larsseit-Bold,sans-serif;
    font-weight:400 ;
}

.logo-text{
    font-family: Curlz MT !important;
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: red!important;
}
.navbar-expand-md{
    box-shadow: 3px 3px 3px grey;
}
#mynavbar .bg-light a{
    color: blue;
}
#mynavbar .bg-light a:hover{
    background-color: gainsboro;
    color: red;
}
#mynavbar .nav-item{
    margin-left: 10px;
}
#mynavbar .nav-item  a b{
    color: blue;
}
#mynavbar .nav-item  a b:hover{
    color: red;
}
#text-bg{
 background-color: rgba(0,0,0,0.3);   
}
#text-bg p{
    margin: 3px;
}
#carouselbtn b{
    margin-left: 10px;
    transition: all 0.51s linear;
}
#carouselbtn span{
    margin-left: -10px;
    visibility: hidden;
    transition: all 0.51s linear;
}
#carouselbtn:hover  span{
    margin-left: 5px;
    visibility: visible;
}
#carouselbtn:hover  b{
    margin-left: 0px;
}
#jumbotron{
    height: 350px;
    background-image: url(images/citroen-c5-aircross/c5-aircross1.jpg);
    background-size:cover;
    background-position: center;
}
.c5-aricross{
    background-color: rgba(0,0,0,0.3); 
}
#jumbotron h1{
    text-decoration: none;
    color: white;
    display: block;
}
#jumbotron b{
    text-decoration: none;
    color: white;
    display: block;
}
#jumboa{
    text-decoration-line: none;
}
.slick-next:before{
    margin-left: -15px;
}
.slick-next:before, .slick-prev:before {
    color: blue;
    font-size: 30px;
}
.nav-tabs .nav-item .active{
    background-color: bisque;
    text-shadow: 3px 3px 5px grey;
    color: black;
}
#search-footer{
     background-color: rgba(0,0,0,0.5);
}
#container-footer{
    background-image: url(images/Car-purchesh.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
#search-p{
    font-size: 13px;
}
#footer .navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  
}
#footer .navbar ul li{
    display: block;
    margin: 2px;
}
.fa-facebook{
    color: aliceblue;
}
.fa-twitter-square{
    color: aliceblue;
}
.fa-linkedin{
    color: aliceblue;
}
.fa-instagram-square{
    color: aliceblue;
}
@media screen and (max-width:314px){
    .navbar-brand .logo-text{
        font-size: 25px;
        margin-left: -5px!important;
        float: left;
    }
}
@media screen and (max-width:350px){
    #jumbotron h1{
        font-size: 30px;
    }
    .carousel-caption .text-bg h2{
        font-size: 25px;
    }
}


/*   newcars  page css */

#newcarline a{
    text-decoration: none;
    color: black;
}
#ElectricCars{
     background-image: url(images/electric-car-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

/* scroll bar stylr */
body::-webkit-scrollbar,.sb1::-webkit-scrollbar,.sb4::-webkit-scrollbar,.sb6::-webkit-scrollbar{
            width: 8px;
        }
        body::-webkit-scrollbar-track,.sb1::-webkit-scrollbar-track{
            background-color: antiquewhite;
            border-radius: 30px;
        }
        body::-webkit-scrollbar-thumb,.sb1::-webkit-scrollbar-thumb{
            background: linear-gradient(blue,red,red,blue);
             border-radius: 30px;
            box-shadow: inset 0 0 2px red;
        }
.modal-body::-webkit-scrollbar,sb1::-webkit-scrollbar,.sb4::-webkit-scrollbar,.sb6::-webkit-scrollbar{
            width: 5px;
        }
.modal-body::-webkit-scrollbar-track,.sb1::-webkit-scrollbar-track{
            background-color: yellow;
            border-radius: 30px;
        }
.modal-body::-webkit-scrollbar-thumb,.sb1::-webkit-scrollbar-thumb{
            background: linear-gradient(blue,red,red,blue);
             border-radius: 30px;
            box-shadow: inset 0 0 2px red;
        }

/* ---- about us ---*/
#OurScale{
    background-color: #bfebeb;
}
#CoreValues{
 border-radius: 10px;
    border: 1px solid grey;
}
.bg1{
    background-color: #bfebeb;
}
.bg2{
    background-color: peachpuff;
}
/*----- ContactUs -----*/
#ContactUs{
    border-radius: 10px;
}
.animate-1,.animate-2,.animate-3,.animate-4,.animate-5,.animate-6,.animate-7,.animate-8,.animate-9,.animate-10,.animate-11,.animate-12,.animate-13,.animate-14,.animate-15{
    opacity: 0;
}